/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    }

body {
    font-size: 1em;
    line-height: 1.4;
    }

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
    }

::selection {
    background: #b3d4fc;
    text-shadow: none;
    }

hr {
    display: block;
    width: 80%;
    height: 2px;
    border: 0;
    border-top: 2px solid #118ACB;
    text-align: center;
    margin: auto;
    padding: 0;
    }

img {
    vertical-align: middle;
    }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    }

textarea {
    resize: vertical;
    }

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
    }

/* =========================================================
   Threadsuite Styles
   ======================================================= */

body {
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fff;
    }

body div {
    padding-bottom: 20px;
    }

footer {
    text-align: center;
    }

h1,h2,h3,h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

h1 {
    font-size: 2em;
    }

h2, .h2 {
    font-size: 1.35em;
    }

h3, .h3 {
    font-size: 1.25em;
    }

h4 {
    font-size: 1.1em;
    }

.center {
    text-align: center;
    }

address {
    font-style: normal;
    }

a:link {
    text-decoration: none;
    color:#118ACB;
    }

a:visited {
    color:#118ACB;
    }

a:active {
    color:#a959c3;
    }

a:hover {
    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
    }

.whiteLink, .whiteLink:link, .whitelink:link, .whiteLink:visited {
    color:#fff;
    font-weight:bold;
    }

.upperCase {
    text-transform: uppercase;
    }

.logo {
    margin-top: 20px;
    }

.ts-blue {
    color: #118ACB;
    }

.wrapper {
    width: 90%;
    margin: 0 5%;
    }

.employee {
    float: left;
    margin-bottom: 25px;
    }

.photo {
    float: left;
    width: 25%;
    }

.photo>img {
    width:100%;
    }

.bio {
    line-height: 24px;
    display: inline-block;
    float: left;
    width:75%;
    }

.bio-pad {
    display: inline-block;
    margin-left: 15px;
    }

.header-bg {
    background: #fff;
    padding: 10px 0;
    }

.weAreHiring {
    color:#fff;
    background: #118ACB;
    }

.ourCulture {
    background: #c0d0e1;
    color: #118ACB;
    }

.ourTeam {
    background: #fff;
    color: #118ACB;
    }

.perks {
    background: #b2b2b2;
    color: #555;
    }

.tool-columns {
    float: left;
    width: 25%;
    }

.thingsWeUse {
    background: #b2b2b2;
    color: #118ACB;
    padding-bottom: 32px;
    }

.thingsWeWorkOn {
    color:#fff;
    background: #118ACB;
    }

.weAreLookingFor {
    background: #c0d0e1;
    color: #118ACB;
    }

.openPositions {
    background: #fff;
    color: #118ACB;
    }

.positionsList {
    list-style-type: none;
    }

.positionsLink {
    text-decoration: none;
    display: block;
    font-weight: bold;
    width: 100%;
    padding:8px 0;
    margin:0;
    }

.ourOffice {
    background: #b2b2b2;
    color: #444;
    }

.address-dtl {
    font-size: .85em;
    }

.jobs-txt {
    color: #555;
    font-size:0.85em;
    line-height:1.25em;
    }

.nested-list {
    margin:0;
    padding-left:20px;
    padding-top:5px;
    }

.team-icon-list {
    list-style-type: none;
    margin:0;
    padding:0;
    }

.team-icon-list-item {    
    display: inline;
    font-size: 2.25em;
    }
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
    }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {

    /* ===============
    Max Width
   =============== */

   body {
    font-size: 1.325em;
    line-height: 1.5em;
    font-weight: 300;
    }

    .wrapper {
        width: 720px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1140px) {}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
    }

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
    }

.hidden {
    display: none !important;
    visibility: hidden;
    }

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    }

.invisible {
    visibility: hidden;
    }

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
    }

.clearfix:after {
    clear: both;
    }

.clearfix {
    *zoom: 1;
    }

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
